.wrapper-1 {
  width: 1400px;
  margin: auto;
  padding: 60px 0 0;
}
.about {
  width: 1180px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.about h1 {
  text-align: center;
  font-weight: 400;
  font-size: 33.6px;
  color: #212121;
}
.about h1:after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  margin: 20px auto 22px;
  background-color: #ff8b38;
}
.about-text {
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #86878b;
}
.about-quote {
  display: inline-block;
  width: 33%;
  padding: 0 60px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #86878b;
}
.about-quote-p {
  padding: 20px 10px;
  background-color: #f5f5f5;
  font-style: italic;
}
.about-quote img {
  float: left;
}
.about-quote-customer {
  margin: 25px 0 50px;
  overflow: hidden;
}
.about-quote-customer .customer {
  margin: 15px 80px;
}
.about-quote-customer .customer .name {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
}
