@black: #212121;
@black-light: #333333;
@gray: #86878b;
@gray-light: #f5f5f5;
@orange: #ff8b38;

@font-sans: ~"'Open Sans', sans-serif";

.wrapper() {
  width: 1400px;
  margin: auto;
}

.section() {
  width: 1180px;
  margin: auto;
  font-family: @font-sans;
}

.h1(@color: @black) {
  text-align: center;
  font-weight: 400;
  font-size: 33.6px;
  color: @color;
}

.h1-after(@color: @orange) {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  margin: 20px auto 22px;
  background-color: @color;
}

.font-style() {
  font-size: 14px;
  font-family: @font-sans;
  color: @gray;
}

//_____________________________________

.wrapper-1 {
  .wrapper;
  padding: 60px 0 0;
}

.about {
  .section;
  
  & h1 {
    .h1();
  }
  
  & h1:after {
    .h1-after();
  }
  
  &-text {
    text-align: center;
    margin-bottom: 50px;
    .font-style;
  }
  
  &-quote {
    display: inline-block;
    width: 33%;
    padding: 0 60px;
    .font-style;
    
    &-p {
      padding: 20px 10px;
      background-color: @gray-light;
      font-style: italic;
    }
    
    & img {
      float: left;
    }
    
    &-customer {
      margin: 25px 0 50px;
      overflow: hidden;
      
      & .customer {
        margin: 15px 80px;
        
        & .name {
          font-weight: 600;
          font-size: 18px;
          color: @black-light;
        }
      }   
    }
  }
}