@import (reference) "_about.less";

.wrapper-2 {
  width: 1400px;
  margin: auto;
}

.download {
  .section;
  padding: 50px 0;
  background: url(pic/background.jpg);
  background-size: cover;
  text-align: center;
  
  & h1 {
    .h1(#ffffff);
  }
  
  & h1:after {
    .h1-after(#ffffff);
  }
  
  &-text {
    text-align: center;
    margin-bottom: 30px;
    .font-style;
  }
  
  & button {
    width: 120px;
    height: 40px;
    background: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    
  }
}