.wrapper-2 {
  width: 1400px;
  margin: auto;
}
.download {
  width: 1180px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0;
  background: url(pic/background.jpg);
  background-size: cover;
  text-align: center;
}
.download h1 {
  text-align: center;
  font-weight: 400;
  font-size: 33.6px;
  color: #ffffff;
}
.download h1:after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  margin: 20px auto 22px;
  background-color: #ffffff;
}
.download-text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #86878b;
}
.download button {
  width: 120px;
  height: 40px;
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
}
